<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-button href="/home">Voltar</ion-button>
    <ion-title>Deck List</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion.padding">
  <ion-item lines="none">
    <ion-label position="floating">Mago Negro</ion-label><br>
    <ion-img src="https://cdn.cardsrealm.com/images/cartas/ct13-2016-mega-tins/en/med/dark-magician-en003.png?7631?&width=250"></ion-img>
    <ion-input type="text" [value]="valor1" readonly #campoInput></ion-input>
      <ion-button (click)="adicionar1()">adicionar card</ion-button>
      <ion-button (click)="retirar1()">remover card</ion-button>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Dragão Branco de Olhos Azuis</ion-label><br>
    <ion-img src="https://cdn.cardsrealm.com/images/cartas/ct13-2016-mega-tins/en/med/blue-eyes-white-dragon-en008.png?2588"></ion-img>
    <ion-input type="text" [value]="valor2" readonly #campoInput></ion-input>
      <ion-button (click)="adicionar2()">adicionar card</ion-button>
      <ion-button (click)="retirar2()">remover card</ion-button>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Caído de Arbaz</ion-label><br>
    <ion-img src="https://cdn.cardsrealm.com/images/cartas/mp21-2021-tin-of-ancient-battles/en/med/fallen-of-albaz-en107.png?2271"></ion-img>
    <ion-input type="text" [value]="valor3" readonly #campoInput></ion-input>
    <ion-item>
      <ion-button (click)="adicionar3()">adicionar card</ion-button>
      <ion-button (click)="retirar3()">remover card</ion-button> 
    </ion-item>
      
  </ion-item>
    
    <ion-button color="primary" expand="full">Salvar</ion-button>
    <ion-button color="danger" expand="full">Cancelar</ion-button>
  </ion-content>
  