.background
{
    z-index: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/424/722/543/anime-anime-boys-yugi-moto-yami-yugi-yugioh-hd-wallpaper-preview.jpg');
}
.btn-confirmar{
    background-color: rgb(77, 32, 238);
    color: white;
    font-size: large
} 
.btn-excluir{
    background-color: rgb(240, 69, 69);
    color: white;
    font-size: large;
}
.titulo{
    text-align: center;
    background-color: rgb(43, 9, 192);
    color: #28e7e9;
    padding-bottom: 10px;
}
Input {
    width: 350px;
    text-align: center;
}
.ajuste{
    display: flex;
    align-items: center;
    justify-content: center;

}
form{
    padding: 20px;
    background-color: rgb(43, 9, 192);
    border: 2px solid rgb(43, 9, 192);
    border-radius: 20px;
    color: white;
}
Input {
    width: 250px;
    text-align: center;
}
.ajuste{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    display: flex;
    gap: 12px;
    input{width: 100%;}
    label{text-wrap: nowrap;}
}
